<!-- views/pages/index.ejs -->
<h2 style="text-align:center">USER DATA</h2>

<ul style="text-align:center">
  <li style="list-style-type: none;">
    <strong>First Name : </strong><%= fname %>
  </li>
  <li style="list-style-type: none;">
    <strong>Last Name : </strong><%= lname %>
  </li>
  <li style="list-style-type: none;">
    <strong>Address : </strong><%= Address %>
  </li>
  <li style="list-style-type: none;">
    <strong>Picture :</strong><br /><img src="<%= image_url %>" />
  </li>
</ul>
