<!-- views/pages/qr.ejs -->

<h2 style="text-align:center">Scan to get the data</h2>

<img style="  display: block;margin-left: auto;margin-right: auto;" src="https://chart.googleapis.com/chart?chs=520x520&cht=qr&chl=http://5be95861.ngrok.io/getUser/<%= uniqID %>" > </img>


